<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BSPMI{% endblock %}</title>

    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-ui-1.10.0.custom.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" media="screen"/>
        <link href="{{ asset('assets/css/south-street/jquery-ui-1.10.0.custom.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('assets/css/styleBS.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('assets/favicon.ico') }}"/>
</head>
<body>
<div class="container">


          {% block body %}

          {% endblock %}
</div>

</body>
</html>
